* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px 70px 20px 32px;
    margin-bottom: 30px;
}

.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}

.menu-button:focus {
    outline: none;
}

.menu-line {
    display: block;
    width: 20px;
    height: 3px;
    background: #1F2022;
    border-radius: 20px;
}

.logo {
    margin-right: 59px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
    background: #EBEBEB;
    border-radius: 22px;
}

.input-search {
    width: 100%;
    padding: 12px 23px;
    border: none;
    background: transparent;
    font-family: 'Mulish', sans-serif;
}

.input-search:focus {
    outline: none;
}

.button-search {
    width: 19px;
    height: 19px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.button-search:focus {
    outline: none;
}


/* for svg sprite */
.icon-search {
    fill: #000;
}

.icon-video {
    fill: #000;
    opacity: 0.24;
}

.icon-apps {
    fill: #000;
    opacity: 0.24;
}
.icon-not {
    fill: #000;
    opacity: 0.24;
}

/* ================ */

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    margin-right: 45px;
    margin-left: auto;
}

.icons-link {
    text-decoration: none;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.sidebar {
    padding-left: 32px;
}

.nav-menu {
    margin-top: 0;
    margin-bottom: 60px;
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin-bottom: 28px;
    
    
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #898989;
    font-size: 16px;
    line-height: 20px;
    transition: color 0.5s linear;
}

.nav-link:hover {
    color: red;
}

.nav-link .icon:hover {
    fill: red;
    opacity: 1;
}

.nav-item .icon {
    fill: #000;
    opacity: 0.24;
    transition: opacity 0.5s linear;
}

.nav-text {
    margin-left: 13px;
}

.nav-image {
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.nav-title {
    margin: 0 0 30px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}