* {
    box-sizing: border-box;
}

body {
    font-family: 'Mulish', sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.header {
    display: flex;
    align-items: center;
    padding: 20px 70px 20px 32px;
    margin-bottom: 30px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background: #fff;
}

.menu-button {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    background-color: #fff;
    width: 20px;
    height: 17px;
    border: none;
    margin-right: 28px;
    cursor: pointer;
}

.menu-button:focus {
    outline: none;
}

.menu-line {
    display: block;
    width: 20px;
    height: 3px;
    background: #1F2022;
    border-radius: 20px;
}

.logo {
    margin-right: 59px;
}

.input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 17px;
    max-width: 830px;
    width: 50%;
    background: #EBEBEB;
    border-radius: 22px;
}

.input-search {
    width: 100%;
    padding: 12px 23px;
    border: none;
    background: transparent;
    font-family: 'Mulish', sans-serif;
}

.input-search:focus {
    outline: none;
}

.button-search {
    width: 19px;
    height: 19px;
    border: none;
    background: transparent;
    cursor: pointer;
}
.button-search:focus {
    outline: none;
}


/* for svg sprite */
.icon-search {
    fill: #000;
}

.icon-video {
    fill: #000;
    opacity: 0.24;
}

.icon-apps {
    fill: #000;
    opacity: 0.24;
}
.icon-not {
    fill: #000;
    opacity: 0.24;
}

/* ================ */

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 175px;
    margin-right: 45px;
    margin-left: auto;
}

.icons-link {
    text-decoration: none;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.sidebar {
    position: fixed;
    width: 18%;
    top: 114px;
    left: 0;
    height: calc(100% - 114px);
    padding-left: 32px;
    overflow-y: auto;
    background: #fff;
}

.content {
    width: 100%;
    margin-top: 83px;
    padding-left: 20%;
    padding-top: 30px;
}

.nav-menu {
    margin-top: 0;
    margin-bottom: 60px;
    list-style-type: none;
    padding: 0;
}

.nav-item {
    margin-bottom: 28px;
    
    
}

.nav-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #898989;
    font-size: 16px;
    line-height: 20px;
    transition: color 0.5s linear;
}

.nav-link:hover {
    color: red;
}

.nav-link .icon:hover {
    fill: red;
    opacity: 1;
}

.nav-item .icon {
    fill: #000;
    opacity: 0.24;
    transition: opacity 0.5s linear;
}

.nav-text {
    margin-left: 13px;
}

.nav-image {
    border-radius: 50%;
    width: 26px;
    height: 26px;
}

.nav-title {
    margin: 0 0 30px 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
}

.channel-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.channel-title {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #19202c;
    font-weight: bold;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 30px;
}

.channel-text {
    margin-left: 20px;
}

.video-thumb {
    width: 250px;
    height: 150px;
    overflow: hidden;
    border-radius: 14px;
    position: relative;
}

.video-thumb-big {
    width: 540px;
    height: 300px;
}

.thumbnail {
    width: 250px;
    height: 150px;
    object-fit: cover;
}

.thumbnail-big {
    width: 540px;
    height: 300px;

}  


.video-card {
    width: 250px;
}

.video-card-big {
    width: 540px;
}
.video-duration {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 12px;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    padding: 3px 9px;
}

.video-title {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #19202c;
    margin-top: 10px;
    margin-bottom: 4px;
}

.video-info {

    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    line-height: 16px;
    color: #c2c2c2;
}


.video-counter {
    display: flex;
}
.video-views {
    margin-right: 5px;
}

.video-views::after {
    content: '';
    width: 2px;
    height: 2px;
    background-color: #c2c2c2;
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.swiper-slide {
    margin-right: 100px;
}

.swiper-slide-big {
    margin-right: 250px;
}

.channel {
    position: relative;
    margin-bottom: 49px;
}

.channel-button {
    cursor: pointer;
}
.channel-button:focus {
    outline: none;
}

.slider-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 66px;
    position: absolute;
    top: 15px;
    right: 8%;
}